.side-bar {
    width: 35%;
}

.main-content {
    padding-left: 2rem;
    box-sizing: border-box;
}

.main-content h3 {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(42, 37, 22, 0.84);
}

.main-content h4 {
    margin-block-start: 0.8rem;
    margin-block-end: 0.8rem;
}

.dubber-photo {
    box-sizing: border-box;
    height: 25rem;
    color: white;
    background-color:  rgba(42, 37, 22, 0.84);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
}

.dubber-photo-image {
    align-self: center;
    flex: auto;
    width: 100%;
}

.dubber-photo-description {
    align-self: center;
}

.dubber-info {
    width: 70%;
}

.dubber-info h1 {
    margin-top: 0.1rem;
    margin-bottom: 0;
}

.dubber-photo img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.dubber-mini-bio {
    min-height: 7rem;
    padding-top: 1rem;
}

.dubber-works {
}

.dubber-works-list {
    margin-bottom: 2rem;
}

.dubber-works h2 {
    margin-bottom: 0;
}

.dubber-works-title {
    display: flex;
    flex-direction: row;
}

.dubber-works-title-movie {
    width: 50%;
}

.dubber-works-title-character {
    width: 25%;
}

.dubber-works-title-actor {
    width: 25%;
}

.dubber-work {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    height: 3.6rem;
}

.dubber-work-movie {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.dubber-work-movie-poster {
    width: 3rem;
    padding-right: 0.5rem;
}

.dubber-work-movie-title {
}

.dubber-work-movie-poster img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin: auto; */
    display: block;
}

.dubber-work-movie-character {
    width: 25%;
    padding-left: 0.5rem;
}

.dubber-work-movie-actor {
    width: 25%;
    padding-left: 0.5rem;
}
